/*
  aside
*/
.aside {

}

.search {
  .form-control {
    background-color: #f5f6f7;
  }
}

.panel {
  margin-top: 15px;
  padding: 10px;
  overflow: hidden;
}

.panel-title {
  margin-bottom: 15px;
  line-height: 1;
  text-indent: 1em;
  padding: 0;
  color: #222;
  font-size: 18px;
  font-weight: normal;
  border-left: 4px solid #EC4B4B;
}

.list-group {
  .img-wrap {
    margin-bottom: 1rem;
    width: 100%;
    height: 9rem;
    border-radius: 4px;
    position: relative;
    overflow: hidden;
    a {
      display: inline-block;
      width: 100%;
      height: 100%;
      z-index: 99;
      overflow: hidden;
    }
    &:hover {
      .img-cell {
        -webkit-transform: scale(1.05);
        transform: scale(1.05);
      }
    }
  }
  .img-info {
    width: 100%;
    padding: .5rem 1rem;
    color: #fff;
    font-size: .7rem;
    border-radius: 0 0 4px 4px;
    background-color: rgba(0, 0, 0, .3);
    position: absolute;
    bottom: 0;
    p {
      overflow: hidden;
      display: -webkit-box;
      text-overflow: ellipsis;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
    }
  }
  .img-cell {
    background-position: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #f7f7f7;
    width: 100%;
    height: 100%;
    -webkit-transition: .7s;
    transition: .7s;
  }
}

.list {
  padding: 15px 0;
  .item {
    margin-top: 2px;
    padding: 10px 0;
    background: #fff;
    overflow: hidden;
    position: relative;
  }
  .item-img {
    padding-left: 10px;
    float: left;
    width: 5rem;
    height: 3.5rem;
    border-radius: 4px 0 0 4px;
    overflow: hidden;
    position: relative;
    .img-cell {
      background-position: 50%;
      background-size: cover;
      background-repeat: no-repeat;
      background-color: #f7f7f7;
      width: 100%;
      height: 100%;
      -webkit-transition: .7s;
      transition: .7s;
    }
    &:hover {
      .img-cell {
        -webkit-transform: scale(1.05);
        transform: scale(1.05);
      }
    }
  }

  .item-intro {
    margin: 0;
    max-height: 43px;
    margin-left: 5.5rem;
    line-height: 1.1rem;
    font-size: .75rem;
    font-weight: 400;
    color: #666;
    position: relative;
    overflow: hidden;
    a {
      color: #3d464d;
      overflow: hidden;
      word-break: break-all;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      &:hover {
        color: #fc4201;
      }
    }
    p {
      margin-top: .25rem;
      color: #999;
      font-size: .6rem;
      position: absolute;
      bottom: 0;
    }
  }

  .item-time {
    font-size: .6rem;
    color: #999;
    position: absolute;
    bottom: 0;
    left: 5.5rem;
  }
}
