* {
  margin: 0;
  padding: 0;
}

html {
  -webkit-tap-highlight-color: transparent;
  font-size: 20px;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
}

a,
a:hover,
a:focus {
  color: #333;
  text-decoration: none;
}

a:visited {
  color: #999;
}

li {
  list-style: none;
}

img {
  border: 0;
  max-width: 100%;
  max-height: 100%;
}