* {
  margin: 0;
  padding: 0;
}

html {
  -webkit-tap-highlight-color: transparent;
  font-size: 20px;
}

html, body {
  height: 100%;
}

body {
  color: #333;
  background-color: #f1f1f1;
  overflow-y: scroll;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a,
a:hover,
a:focus {
  color: #333;
  text-decoration: none;
}

a:visited {
  color: #999;
}

img {
  border: 0;
  max-width: 100%;
  max-height: 100%;
}

li {
  list-style: none;
}

h1 {
  font-size: 22px;
}

h2 {
  font-size: 20px;
}

h3 {
  font-size: 18px;
}

h4 {
  font-size: 16px;
}

h5 {
  font-size: 14px;
}

h6 {
  font-size: 12px;
}

.btn-primary {
  background-color: #fc4201;
  border-color: #fc2c0e;

  &:hover,
  &:focus,
  &:active,
  &:active:hover,
  &:active:focus {
    background-color: #fc2921;
    border-color: #fc2921;
  }
}

.form-control:focus {
  border-color: #fc4201;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(252, 66, 1, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(252, 66, 1, 0.6);
}

@media (min-width: 992px) {
  .col-md-1 {
    //width: 25%;
  }
  .col-md-8 {
    //width: 25%;
  }
  .col-md-3 {
    //width: 25%;
  }
}