/*
  header
*/
.header {
  width: 100%;
  background-color: #fff;
  //border-bottom: 1px solid #e1e1e1;
  //box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1), 0 4px 8px 0 rgba(0, 0, 0, 0.1);
  .container {
    position: relative;
  }

  .navbar {
    margin: 10px auto;
  }

  .navbar-nav > li > a {
    padding: 15px 20px;
  }
}
